/* Layout */
.App {
    width: 100%;
    max-width: 1200px;
    margin: 1em auto;
    overflow: hidden;
}

@media screen and (max-width: $breakpoint-mobile) {
    .App {
        padding-left: 1em;
        padding-right: 1em;
        margin-top: 0;
    }
}