.comment__form {
    input {
        display: block;
        width: 100%;
        max-width: 500px;
        margin: 1em 0;
        border: 1px solid #ddd;
        border-radius: 4px;
        background: #fcfcfc;
        line-height: 1.6em;
        padding: 5px;
    }
}